* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../Images/sanjunipero.jpg);
	color: #FFFFFF;
}

header {
	padding: 20px;
	width: 100%;
	background: rgba(154, 88, 166, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

header .menu a {
	font-size: 30px;
	color: white;
	text-decoration: none;
	margin-right: 20px;
}
header .menu a:hover {
	font-weight: bold;
}
.logo {
	display: flex;
	justify-content: space-between;
}