.container {
	position: absolute;
	margin: background-color: pink;
}

#test {
	position: relative;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	background-color: lightblue;
}

h1 {
	text-align: center;
}

#hola {
	position: relative;
	margin: 20px 40px;
	background-color: violet;
	text-align: justify;
}