.container {
	width: 80%;
	margin: 0 auto;
}

div.globo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: inline-block;
}

#globo1 {
	background-color: blue;
}

#globo2 {
	background-color: green;
}

#globo3 {
	background-color: red;
}